*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    overflow-y: hidden;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

/* GENERALES */

.container {
    margin: 10px;
}

.d-flex {
    display: flex;
}

.navbarGeneral{
    /* ! error */
    /* position: fixed; */
    width: 100%;
    transition: 0.5s;
}

.navbar{
    background-color: rgba(49, 182, 49, 0.815);
    color: white;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    
}

.navbar__right{
    display: flex;
    gap: 25px;
    align-items: center;
    margin-right: 20px;
}
.navbar__left{
    display: flex;
    gap: 25px;
    align-items: center;
    margin-right: 0;
}

.navbar__logo{
    letter-spacing: 2px;
    margin-left: 80px;
}

.navbar__menuicon{
    font-size: 30px;    
}
.navbar__searchdiv{
    position: relative;
    width: 30px;
    height: 30px;
    background-color:#fff;
    border-radius: 30px;
    transition: 0.3s;
    box-shadow: 0 0 0 5px rgba(35, 131, 35, 0.432);
    outline: none;
    overflow: hidden;
    margin-right: 500px;

}

.navbar__searchdiv:hover{
    background-color:rgba(49, 202, 49, 0.918);
    color: #fff;
    
}

.navbar__searchdiv--active{
    position: relative;
    width: 360px;
    height: 30px;
    background-color:#fff;
    border-radius: 30px;
    transition: 0.3s;
    box-shadow: 0 0 0 5px rgba(35, 131, 35, 0.432);
    outline: none;
    overflow: hidden;
    margin-right: 500px;
   
}

.navbar__searchdiv--icon{
    position: absolute;
    top: 3px;
    left: 4px;
    font-size: 20px;
    cursor: pointer;
    color: green;
}

.navbar__searchdiv--icon:hover{
    color: white;
}

.navbar__searchdiv--input{
position: relative;
width: 300px;
height: 30px;
left: 40px;
display: flex;
justify-content: center;
align-items: center;
}

.navbar__searchdiv--input input{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: medium;
}

.navbar__notifications{
    height: 30px;
    width: 40px;
    display: flex;
    position: relative;
    align-items: center;
}

.navbar__notifications:hover{
    background-color: #fff;
    color: black;
    border-radius: 30px;
    cursor:pointer;
    transition: 0.3s;
}
.navbar__notifications--bell{
    height: 80%;
    width: 100%;
    font-size: 25px;
    position: relative;
}

.navbar__notifications--circle{
    position: inherit;
    height: 20%;
    width: 20%;
    color: red;
    top: -12px;
    left: -16px;
    font-size: 12px;
}

/* Layout */


.profile{
    align-items: center;
    display: flex;
    gap: 15px;
    font-size: 18px;
}
.profileactive{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 300px;
    width: 250px;
    margin-top: 5px;
    margin-right: 0;
    position: absolute;
    right: 10px;
    
    border-radius: 5%;
    transition: 1s;
    align-items: center;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.459);;
}

.profileimage{
    margin-top: 30px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-bottom: 5px;
}

.profile:hover{
    background-color: #fff;
    color: black;
    padding: 3px;
    transition: 0.3s;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    border: none;
    outline: none;
    
}
    
.profile__image{

    width: 40px;
    height: 40px;
    border-radius: 30px;
    align-items: center;
    box-shadow: none;
    background-color: none;
    padding: none;
}
.profile__name{
    align-items: center;
    box-shadow: none;
    margin-bottom: 5px;
}

.profileNav{
    text-align: center;
    margin-right: 0;
    text-decoration: none;
    width: 100%;
    height: 40px;
    align-items: center;
    font-size: 20px;
    border-radius: 5px;
    color: rgb(30, 207, 30);
    cursor: pointer;
    padding: 5px 0;
    margin-bottom: 5px;
    font-weight: bold;
}

.profileNav:hover{
    background-color: green;
    color: white;
}



.profilecargo{
    margin-bottom: 10px;
}

.notificationsActive{
    margin-top: 5px;
    display: flex;
    width: 200px;
    height: 250px;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.452);
    color: black;
    border-radius: 30px;
    position: absolute;
    right: 200px;
    font-weight: bolder;
}



